<div class="login-container">
  <h2>Login</h2>
  <form #loginData="ngForm"  (ngSubmit)="loginForm(loginData)">
    <mat-form-field class="input">
      <input matInput ngModel name="email" placeholder="Email" type="email" />
    </mat-form-field>
    <mat-form-field class="input">
      <input ngModel name="password" matInput placeholder="Password" type="password" />
    </mat-form-field>
    <div class="loginBtn">
      <button mat-raised-button color="primary">Login</button>
    </div>
    <div class="social-buttons">
      <a
        mat-raised-button
        color="primary"
        class="full-width"
        href="{{ googleUrl }}"
      >
        <fa-icon class="fab fa-google mr-1" [icon]="googleIcon"></fa-icon>
        Sign in with Google</a
      >
      <a
        mat-raised-button
        color="primary"
        class="full-width"
        href="{{ facebookUrl }}"
      >
        <fa-icon class="fab fa-facebook mr-1" [icon]="facebookIcon"></fa-icon>
        Sign in with Facebook</a
      >
      <a
        mat-raised-button
        color="primary"
        class="full-width"
        href="{{ googleUrl }}"
      >
        <fa-icon class="fab fa-google mr-1" [icon]="appleIcon"></fa-icon>
        Sign in with Apple</a
      >
      <a
        mat-raised-button
        color="primary"
        class="full-width"
        href="{{ facebookUrl }}"
      >
        <fa-icon class="fab fa-facebook mr-1" [icon]="twitterIcon"></fa-icon>
        Sign in with Twitter</a
      >
    </div>
  </form>
  <p class="switch-link">
    New user? <a routerLink="/register">Register here</a>
  </p>
</div>
