<div class="login-container">
  <h2>Login</h2>
  <form>
    <mat-form-field class="input">
      <input matInput placeholder="Email" type="email" />
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Password" type="password" />
    </mat-form-field>
    <div class="loginBtn">
      <button mat-raised-button color="primary">Login</button>
    </div>
    <div class="social-buttons">
      <button mat-raised-button color="primary" (click)="googleLogin()" class="full-width">
        <fa-icon class="fab fa-google mr-1" [icon]="googleIcon"></fa-icon>
        <span> Sign in with Google</span>
      </button>
      <button mat-raised-button color="primary" class="full-width">
        <fa-icon class="fab fa-facebook mr-1" [icon]="facebookIcon"></fa-icon>
        <span> Sign in with Facebook</span>
      </button>
    </div>
  </form>
  <p class="switch-link">
    New user? <a routerLink="/register">Register here</a>
  </p>
</div>
